@font-face {
    font-family: pokemon;
    src: url(/pokemonHollow.ttf)
}

h1 {
    color: #ffcc03;
    font-family: pokemon;
    font-size: 60px;
    padding-top: 1rem;
}


p {
    color: white;
    font-size: 24px;
}

#start {
     font-size: 24px;
     font-weight: bold;
     background-color: blue;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px -2px rgb(183, 236, 237);
    transform: scale(1.1);
}

#progressText {
    padding-left: 2rem;
}

#progressBar {
    margin-left: 2rem;
    width: 10rem;
    height: 1.6rem;
    border: 0.15rem solid darkblue;
}

#progressBarStatus {
    height: 1.3rem;
    background-color: darkblue;
    width: 0%; 
}

#questImage {
    width: 25%;
  }